.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-logo {
    height: 150px;
}